[submodule "spring-cloud-contract-nodejs-external-contracts"]
	path = spring-cloud-contract-nodejs-external-contracts
	url = https://github.com/spring-cloud-samples/spring-cloud-contract-nodejs-external-contracts.git
